server:
  servlet:
    context-path: /rdms-expense-tracker
  port: 8090
  
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/expense_tracker?createDatabaseIfNotExist=true&autoReconnect=true&useSSL=false&useUnicode=yes&characterEncoding=UTF-8&characterSetResults=UTF-8
    username: 
    password: 
    
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      javax.persistence.validation.mode: none
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
      hibernate.format_sql: false
      
logging:
  level:
    org.springframework: WARN
    org.springframework.security: WARN
    org.hibernate: WARN
    org.apache: WARN
    com.babl.robismartsales: INFO